//
//  DebugSecret.xcconfig
//  Svangur
//
//  Created by Dharmani Apps on 16/07/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

GOOGLE_PLACES_API_KEY = ***REMOVED-GOOGLE-PLACES-API-KEY***
